#homepage {
  .navigation_block {
    margin-bottom: -9.5em;
  }
  .content_footer {
    padding-top: 12*$bl;
    @include at-breakpoint($main_navigation_break) {
      padding-top: 10*$bl;
    }
  }
  .intro {
    .intro_block {
      .intro_content { 
        //margin-top: 160px;
        @include at-breakpoint($main_navigation_break) {
          //margin-top: 130px;
        }
        @include at-breakpoint($mobile_break) {
          //margin-top: 50px;
        }
      }
    }
  }
}
